.header{
    /*background-image: url("l.jpg");
    background-repeat:no-repeat;
    background-size: 250px 100px;*/
	width: 100%;
	height: 130px;
	background-color: red;
}
.search-form{
    margin-top:15px;
    float: right;
    margin-right: 100px;
}

.header .up h2{
   width: 100%;
   height: 75px;
   line-height: 80px;
   margin: auto;

}
.header .down{
	width: 100%;
	height: 50px;
	background-color: blue;

}
nav{
    width: 100%;
}

nav ul{
    margin: 20px 0 0;
    padding: 0;
    border-radius: 4px;
    background: #262626;
    overflow: hidden;
}
nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    }
.down{
    text-align: left;
}    
.header .down nav ul li: hover{
   color: orange;
 } 
 a{
    text-decoration: none;
}
.footer-main-div{
    width: 100%;
    height: 100px;
    margin: auto;
    background:#272727;
    padding: 20px 0px;
}
.footer-social-icons{
    width: 100%;
    height: auto;
    margin: auto;
}
.footer-social-icons ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-social-icons ul li{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background:#32CD32;
}
.footer-social-icons ul li a{
    color: #272727;
    font-size: 25px;
    display: block;
}

.footer-social-icons ul li a i{
    line-height: 50px;
}
.footer-menu-one{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 25px;
}
.footer-menu-one ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-menu-one ul li{
    display: inline-block;
    margin: 0px 15px;
}
.footer-menu-one ul li a{
    font-family: arial;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
.footer-menu-two{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 10px;
}
.footer-menu-two ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-menu-two ul li{
    display: inline-block;
    margin: 0px 15px;
}
.footer-menu-two ul li a{
    font-family: arial;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
.footer-menu-one{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
}
.footer-menu-one ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-menu-one ul li{
    display: inline-block;
    margin: 0px 15px;
}
.footer-menu-one ul li a{
    font-family: arial;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
.footer-menu-one{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
}
.footer-menu-one ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-menu-one ul li{
    display: inline-block;
    margin: 0px 15px;
}
.footer-menu-one ul li a{
    font-family: arial;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
..footer-menu-one{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
}
.footer-menu-one ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-menu-one ul li{
    display: inline-block;
    margin: 0px 15px;
}
.footer-menu-one ul li a{
    font-family: arial;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
.footer-menu-one{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
}
.footer-menu-one ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-menu-one ul li{
    display: inline-block;
    margin: 0px 15px;
}
.footer-menu-one ul li a{
    font-family: arial;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
.footer-bottom{
    width: 99.2%;
    height: 50px;
    margin: auto;
    background:#32CD32;
    padding: 5px;
    text-align: center;
}

.footer-bottom p{
    font-family: arial;
    font-size: 14px;
    text-align: center    
    color:#fff;
    font-weight: 600;
    letter-spacing: 1px;
}
.footer-bottom p a{
    color: #fff;
}
  
